pyrogram>=2.0.0
tgcrypto
py-tgcalls==1.2.0  # Adjust version based on compatibility
requests
aiohttp
aiofiles
pillow
asyncio
wget
python-arq
youtube-search-python==1.4.6
yt-dlp
python-dotenv
gTTS
googletrans==4.0.0rc1
