# Masukan APP ID ambil di web my.telegram.org
API_ID = "24394477"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "b7bf7b4ddaf7c8f81c9e7575ad7a2ac1"

# Masukan String Pyrogram Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "BQF0Ou0AlTv40ZRknTwKWjscETRWPQKVJAbGPbYwxd5wYxgQxu1xK-SxiU4uowvbOsowwSCwo-QRNwym4K15988xtcq6cc3C9Sn1PPPLr92xQvX0B4W73sQMYkmzicZQQx19SEkFlUTQgDdeTh7JGfAW48cpmzzEEGwDgMyi_heJt014Eub1j6inwxJRXzDFyW-RK_T0W6MUvBmdOccnLu7EGfh3MkWWlK4izJAef_-PJ31eH9m2xmmkdvvXlcGn_HpfUR0s3wCJ0My1rYmzOGBzEGPRDBZg4I0yowUgP9nb4FXqw0vY71sPpQvB9whfE8bP5bsS03C1ZBRchFj2L_APvnqAfQAAAAGWSmGJAA"

# Masukkan HNDLR Untuk buat cmd play
HNDLR = "!"

# Masukkan Id Akun Kamu 
SUDO_USERS = "5516578116"
